server:
  port: 8080

external:
  api:
    open-library:
      base-url: https://openlibrary.org
      timeout: 5000

firebase:
  project-id: the-little-library-2316c
  service-account-key-path: ${FIREBASE_SERVICE_ACCOUNT_KEY_PATH:}
